
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



*{
    margin-right: 0px;
    
    
    /* margin-bottom: 0px; */
}



/* shared style */
.text-primary{
    color: #FD6E0A;
}
.secondary-bg{
    background-color: #FFF8F3;
}

.dark-2{
    color: #474747;
}
.text--center{
    text-align: center;
}


.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color:#757575 ;
    padding: 20px;
    
}

.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: white;
    padding: 18px 36px;
    border-radius: 5px;
}
/* header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position:top left, bottom right ;
    margin-top: 50px;
    
    
    
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 200px;
}

.nav-title{
    font-size: 45px;
    font-weight: 700;
}

nav ul{
    display: flex;
    align-items: center;
    
    
}
nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    
}    
/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}

.banner-content{
    width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 500px;
}

.banner-title{
      font-size: 85px;
      font-weight: bold;
      color: #181818;      
}
.banner-description{
    font-size: 18px;
    color: #757575;
}

.banner.pc{
    width: 584px;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px ;
   
   text-align: center;

}
.about-items{
    display: flex;
    justify-content:space-around ;
 }  
 
.about-item{
    color: #474747;

 }
.item-description{
    
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    
}




/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* skills container section style */
.skills-container{
    display: flex;
    gap: 24px;
    
}

skill{
    border-radius: 5px;
    padding: 30px; 
    box-shadow: 0 6px 10px 0 #000000;
}

/* resume-container style */


.resume-column{
    display: flex;
    gap: 20px;
    padding: 30px;
    
}